/***** gc sermon search *****/
.search-field {
    width: 60%;
    background: #e2e2e2;
    box-shadow: none;
    height: 60px;
    padding-left: 20px;
    border: 1px solid #ccc;
}

.gc-single-series-sermons-img {
    display: block;
    margin: 20px auto;
}

.gc-series-list-sermons-img {
    width: 100%;
    overflow: hidden;
}

.single-sermon-title img {
    margin-top: 15px;
}

.entry-content.sermon-series-desc > p {
    font-size: 24px !important;
}

.entry-content.sermon-series-resource {
    padding-left: 60px;
    padding-right: 60px;
}

.entry-content.sermon-series-message {
    padding-left: 60px;
    padding-right: 60px;
}

.gc-individual-sermon-list {
    padding-left: 45px;
    padding-right: 45px;
}

.other-msg-title {
    padding-left: 8px !important;
}

.gc-sermons-search .second-row {
    padding-top: 15px;
}

.gc-sermons-search .first-row label {
    width: 100%;
    padding-top: 15px;
}

.gc-sermons-search .first-row .form-group {
    width: 100%;
}

.gc-sermons-search label {
    width: 100%;
}

.gc-sermons-search span {
    font-size: 18px;
}

input.search-submit {
    margin-right: 20px;
    background: #14a7e0;
    height: 60px;
    color: #fff;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.page-template-template-messages h1 {
    display: block;
    padding-left: 20px;
}

h2.gc-series-search-results-title, h2.gc-sermons-search-results-title {
    display: block;
    font-size: 28px;
}

.gc-sermons-search-results, .gc-series-search-results {
    padding-left: 20px;
}

a.home-btn {
    background: #23527c;
    padding: 8px 18px;
    border-radius: 3px;
    color: #fff;
}

#single-sermon-content .row {
    padding-bottom: 10px;
    /*border-bottom: 1px solid #e2e2e2;*/
    margin-bottom: 10px;
}

#message-summary .gc-right-col {
    text-align: justify;
}

.entry-content ul.gc-sermon-resources-list, .entry-content ul.lc-container {
    padding: 0;
}

.entry-content ul.lc-container li.gc-sermon-resources-list-item {
    display: list-item !important;
    list-style-type: disc !important;
    padding-left: 15px;
}

.entry-content ul.gc-sermon-resources-list .lc-head {
    font-size: 1em;
    font-weight: 700;
}

.entry-content ul.gc-sermon-resources-list li {
    list-style-type: none;
}

.entry-content ul.gc-sermon-resources-list li.lc-list {
    width: 45%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.entry-content ul.gc-sermon-resources-list li.gc-sermon-resources-list-item {
    width: 100%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px;
}

.entry-content ul.gc-sermon-resources-list ul.single-item li.gc-sermon-resources-list-item {
    width: 100%;
}

#message-resource {
    margin-top: 10px;
}

h1.gc-sermon-title {
    margin-top: 30px;
    font-size: 32px;
}

.entry-content .gc-individual-sermon-list .gc-sermons-list {
    padding-top: 5px;
    display: table;
    margin: 0 auto;
	padding-right: 0;
}

.entry-content .gc-individual-sermon-list .gc-sermons-list li:nth-child(1):nth-last-child(1) {
    width: inherit !important;
}

.entry-content .gc-individual-sermon-list .gc-sermons-list li:nth-child(1):nth-last-child(2),
.entry-content .gc-individual-sermon-list .gc-sermons-list li:nth-child(2):nth-last-child(1)  {
    width: inherit !important;
}
.entry-content .gc-individual-sermon-list .gc-sermons-list li:nth-child(1):nth-last-child(3),
.entry-content .gc-individual-sermon-list .gc-sermons-list li:nth-child(2):nth-last-child(2),
.entry-content .gc-individual-sermon-list .gc-sermons-list li:nth-child(3):nth-last-child(1)  {
    width: inherit !important;
}

.gc-series-wrap h4 {
    margin-left: 30px;
    border-bottom: none !important;
    text-decoration: underline;
    font-size: 24px;
}

#mav-entry .gc-2-cols h4 {
    text-align: center;
    margin: auto;
    width: 100%;
    text-decoration: none;
    font-size: 3rem;
    padding-top: 5px;
    padding-bottom:5px;
}

#mav-entry li.gc-item.gc-thumb {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.page.mav-body {
    box-shadow: 0 0 0;
}

#mav-entry {
    padding: 0px;
    font-size: 1.5em;
}

.mav-series {
    padding: 5px;
}

.mav-series {
    font-size: 1.3em;
    padding-top: 10px;
}

.mav-series #message-speaker > div:first-of-type {
    float: left;
}

.mav-series #message-series-part > div:first-of-type {
    float: left;
}

#mav-single .entry-content {
    font-size: 1.3em;
    line-height: 110%;
}

#mav-single .col-md-12 {
    padding-left: 5px;
    padding-right: 5px;
}

#mav-single #message-series,
#mav-single #message-speaker,
#mav-single #message-series-part,
#mav-single #message-scripture,
#mav-single #message-topics,
#mav-single #message-tags,
#mav-single #message-date,
#mav-single #message-summary {
    padding-bottom: 0px;
    margin-bottom: 4px;
}

#mav-single #message-series > div:first-of-type,
#mav-single #message-speaker > div:first-of-type,
#mav-single #message-series-part > div:first-of-type,
#mav-single #message-scripture > div:first-of-type,
#mav-single #message-topics > div:first-of-type,
#mav-single #message-tags > div:first-of-type,
#mav-single #message-date > div:first-of-type,
#mav-single #message-summary > div:first-of-type
{
    float: left;
    padding-right:5px;
    /*width:30%;*/
}

#mav-single div.row.single-sermon-title {
    padding-bottom: 1px;
    margin-bottom: 1px;
    padding-top:0px;
    margin-top:0px;
}

#mav-single #message-resource div.col-sm-3 {
    font-size:1.5em;
    padding-bottom:5px;
}

#mav-single #message-others {
    padding-left: 15px;
    padding-right: 15px;
}

#mav-single #message-resource div.col-sm-9 {
    padding-left:25px;
}

#mav-single #message-summary {
    padding-bottom:0px;
    margin-bottom:0px;
}

#mav-single #message-others h1 {
    margin-top:0px;
}

#mav-single li.lc-head {
    margin-bottom:0px;
}

#mav-single li.lc-list {
    margin-bottom:0px;
}

#mav-single .gc-sermon-resources-list-item {
    line-height:.9em;
}

#mav-single .gc-item.gc-thumb {
    padding:0px;
    margin-bottom:0px;
}

.entry-content.sermon-series-desc.mav-series > p {
    font-size: 1em !important;
}

.entry-content.sermon-series-message.mav-series {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 800px) {
    .entry-content ul.gc-sermon-resources-list li.lc-list {
        width: 100%;
    }
}