/*======================================
  Selectric v1.9.6
======================================*/

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #337ab7;
  border-radius: 15px !important;
  font-family: "Avenir Next LT Pro",sans-serif;
  height: 28px !important;
  margin-top: 6px !important;
  position: relative;
  z-index: 1;
}
.selectric .label {
  color: #14a7e0;
  display: block;
  font-size:16px;
  font-weight: bold!important;
  height:38px;
  line-height:16px;
  margin: 0 10px;
  overflow: hidden;
  padding:3px 0 0;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.selectric .button {
  position: absolute;
  right: 11px;
  top: 8px;
  color:#4c9fc7;
}

.selectric-hover .selectric {
  border-color: #337ab7;
}
.selectric-hover .selectric .button {
  color: #0074c8;
}
.selectric-hover .selectric .button:after {
  border-top-color: #4c9fc7;
}

.selectric-open {
  z-index: 9999;
}
.selectric-open .selectric {
  border-color: #14a7e0;
}
.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: -moz-use-text-color #14a7e0 #14a7e0;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 2px 2px;
  box-shadow: 0 0 10px -6px;
  display: none;
  left: 0;
  margin: -11px 0;
  padding: 10px 0;
  position: absolute;
  top: 100%;
  z-index: 0;
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}
.selectric-items li {
  color: #4c9fc7;
  cursor: pointer;
  display: block;
  font-family:'Avenir Next LT Pro',sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  text-transform: uppercase;
}
.selectric-items li.selected {
  background: #EFEFEF;
  color: #444;
  display:none;
}
.selectric-items li:hover {
  color: #14a7e0;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}

/* 2/6/2016 */
.social-area.clearfix {
  margin-right: -20px;
  margin-top: 0px !important;
}

/* 3/6/2016 */
@media(max-width:813px) /* Was 767px */
{
.social-area.clearfix {
  margin-right: -20px;
  margin-top: 23px !important;
}	
}